app/Plugin/Admin/webroot/app/Banner/index.html
<div class="page-header"><h3>Banners</h3></div><br/><div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Banners</h3></div><table class="table"><tr><th>&nbsp;</th><th>Imagens</th><th>Título</th></tr><tr ng-repeat="item in Banners"><td><div class="btn-group"><a class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a><a class="btn btn-default"><i class="glyphicon glyphicon-picture"></i></a></div></td><td class="col-md-2">{{item.BannerImg.length}}</td><td>{{item.Banner.ban_titulo}}</td></tr></table><div class="panel-footer clearfix"><div class="btn-group pull-right"><a href="#/banners/add" class="btn btn-primary">Novo</a></div></div></div>

app/Plugin/Admin/webroot/app/ArquivoTop/index.jade
.page-header
	h3 Tópicos de Arquivos
br
.panel.panel-primary
	.panel-heading
		h3.panel-title Tópicos de Arquivos
	table.table
		tr
			th &nbsp;
			th Título
			th Descrição
		tr(ng-repeat="item in ArquivosTop")
			td
				a.btn.btn-default
					i.glyphicon.glyphicon-pencil
			td {{item.ArquivoTop.art_titulo}}
			td {{item.ArquivoTop.art_descricao}}
	.panel-footer.clearfix
		.btn-group.pull-right
			a.btn.btn-primary(href="#/arquivostop/add") Novo
