app/Plugin/Admin/webroot/app/Menu/list2.jade
.panel.panel-success
	.panel-heading
		h3.panel-title Segundo Nível
	.panel-body(ng-if="loading[2]")
		div(ng-include="'/admin/app/common/loading.html'")
	.panel-body(ng-if="norecords[2]")
		div(ng-include="'/admin/app/common/norecords.html'")
	.panel.body(ng-if="!loading[2] && !norecords[2] && Menus[2]")
		ul.list-group.levelMenus(data-as-sortable="dragControlListeners",data-ng-model="Menus[2]")
			li.list-group-item(ng-repeat="item in Menus[2]",data-as-sortable-item)
				div(data-as-sortable-item-handle)
					h4.list-group-item-heading.pointer(ng-click="loadLevel(item, 3)") {{item.Menu.men_titulo}}
					.list-group-item-text
						.btn-group(tooltip="Posição")
							button.btn.btn-default.btn-xs.disabled {{($index+1)*10}}
						| &nbsp;
						.btn-group(ng-if="!item.Menu.men_fixo")
							button.btn.btn-default.btn-xs(ng-click="editMenu(item)",tooltip="Editar")
								i.glyphicon.glyphicon-pencil
							button.btn.btn-default.btn-xs(ng-click="deleteMenu(item)",tooltip="Excluir",ng-class="{disabled:item.Submenu1.length>0}")
								i.glyphicon.glyphicon-trash
							button.btn.btn-default.btn-xs(ng-click="alteraPai(item)", tooltip="Alterar Pai")
								i.glyphicon.glyphicon-chevron-right
						.btn-group(ng-if="selecionaPaiId && selecionaPaiId != item.Menu.men_id")
							button.btn.btn-default.btn-xs(ng-click="configPai(item)", tooltip="Configurar Pai")
								i.glyphicon.glyphicon-ok
							button.btn.btn-default.btn-xs(ng-click="cancelaPai()", tooltip="Cancelar")
								i.glyphicon.glyphicon-remove
						.btn-group(ng-if="selecionaPaiId && selecionaPaiId == item.Menu.men_id")
							button.btn.btn-default.btn-xs(ng-click="configPaiNone(item)", tooltip="Nenhum Pai")
								i.glyphicon.glyphicon-ok
							button.btn.btn-default.btn-xs(ng-click="cancelaPai()", tooltip="Cancelar")
								i.glyphicon.glyphicon-remove
	.panel-footer(ng-if="Menus[2]")
		button.btn.btn-default(ng-click="addMenu(1)",tooltip="Novo Menu") Novo
		button.btn.btn-primary.pull-right(ng-click="saveOrderMenu(2)") Salvar

app/Plugin/Admin/webroot/app/Menu/list2.html
<div class="panel panel-success"><div class="panel-heading"><h3 class="panel-title">Segundo Nível</h3></div><div ng-if="loading[2]" class="panel-body"><div ng-include="'/admin/app/common/loading.html'"></div></div><div ng-if="norecords[2]" class="panel-body"><div ng-include="'/admin/app/common/norecords.html'"></div></div><div ng-if="!loading[2] &amp;&amp; !norecords[2] &amp;&amp; Menus[2]" class="panel body"><ul data-as-sortable="dragControlListeners" data-ng-model="Menus[2]" class="list-group levelMenus"><li ng-repeat="item in Menus[2]" data-as-sortable-item="data-as-sortable-item" class="list-group-item"><div data-as-sortable-item-handle="data-as-sortable-item-handle"><h4 ng-click="loadLevel(item, 3)" class="list-group-item-heading pointer">{{item.Menu.men_titulo}}</h4><div class="list-group-item-text"><div tooltip="Posição" class="btn-group"><button class="btn btn-default btn-xs disabled">{{($index+1)*10}}</button></div>&nbsp;<div ng-if="!item.Menu.men_fixo" class="btn-group"><button ng-click="editMenu(item)" tooltip="Editar" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></button><button ng-click="deleteMenu(item)" tooltip="Excluir" ng-class="{disabled:item.Submenu1.length&gt;0}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-trash"></i></button><button ng-click="alteraPai(item)" tooltip="Alterar Pai" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-right"></i></button></div><div ng-if="selecionaPaiId &amp;&amp; selecionaPaiId != item.Menu.men_id" class="btn-group"><button ng-click="configPai(item)" tooltip="Configurar Pai" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-ok"></i></button><button ng-click="cancelaPai()" tooltip="Cancelar" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-remove"></i></button></div><div ng-if="selecionaPaiId &amp;&amp; selecionaPaiId == item.Menu.men_id" class="btn-group"><button ng-click="configPaiNone(item)" tooltip="Nenhum Pai" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-ok"></i></button><button ng-click="cancelaPai()" tooltip="Cancelar" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-remove"></i></button></div></div></div></li></ul></div><div ng-if="Menus[2]" class="panel-footer"><button ng-click="addMenu(1)" tooltip="Novo Menu" class="btn btn-default">Novo</button><button ng-click="saveOrderMenu(2)" class="btn btn-primary pull-right">Salvar</button></div></div>
