app/Plugin/Admin/webroot/app/Arquivo/form.jade
.page-header
	h3 Novo Arquivo
.panel.panel-primary
	.panel-heading
		h3.panel-title Novo Arquivo
	.panel-body
		form.form
			.form-group
				label.form-label Título
				input.form-control(name="titulo")
			.form-group
				label.form-label Arquivo
				input.form-control(name="arquivo",type="file")
			.form-group
				label.form-label Descrição
				textarea.form-control(name="descricao",rows="5")
			.form-group
				label.form-label Fonte
				input.form-control(name="fonte")
			.form-group
				label.form-label Link da fonte
				input.form-control(name="fonte_link")
	.panel-footer.clearfix
		.btn-group.pull-right
			button.btn.btn-primary Enviar
			button.btn.btn-default Cancelar

app/Plugin/Admin/webroot/app/ArquivoTop/form.html
<div class="page-header"><h3>Novo Arquivo</h3></div><div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Novo Arquivo</h3></div><div class="panel-body"><form class="form"><div class="form-group"><label class="form-label">Título</label><input name="titulo" class="form-control"/></div><div class="form-group"><label class="form-label">Arquivo</label><input name="arquivo" type="file" class="form-control"/></div><div class="form-group"><label class="form-label">Descrição</label><textarea name="descricao" rows="5" class="form-control"></textarea></div><div class="form-group"><label class="form-label">Fonte</label><input name="fonte" class="form-control"/></div><div class="form-group"><label class="form-label">Link da fonte</label><input name="fonte_link" class="form-control"/></div></form></div><div class="panel-footer clearfix"><div class="btn-group pull-right"><button class="btn btn-primary">Enviar</button><button class="btn btn-default">Cancelar</button></div></div></div>
